* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
	background: #0A0B0D;
    color: #FFFFFF;
	font: 1em 'Assistant', sans-serif;
}

/*--------------------------------------------------- menu toggle -------------------------------------------------------*/

.toggle-menu {
    position: fixed;
    top: 1.25em;
    left: 1.5em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    z-index: 100;
    transition: background-color .3s linear;
}

.toggle-menu:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1.375em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#FFFFFF 18.1818%, transparent 18.1818%, transparent 40.9091%, #FFFFFF 40.9091%, #FFFFFF 59.0909%, transparent 59.0909%, transparent 81.8182%, #FFFFFF 81.8182%, #FFFFFF 100%);
}

/*------------------------------------------------- table content -----------------------------------------------------*/

.main-content {
    text-transform: uppercase;
    font-size: 1.125em;
    padding: 6.79em 1.333em 6em;
    margin-left: 20.444em;
    position: relative;
    transition: margin .35s linear;
}

.main-content table {
    width: 100%;
    text-align: center;
}

.main-content thead {
    position: fixed;
    right: 1.333em;
    top: 0;
    left: 21.777em;
    padding-top: 1.333em;
    color: #DC7316;
    border-bottom: 2px solid #737374;
    background: #0A0B0D;
    z-index: 1;
    transition: all .35s linear;
}

.main-content thead tr {
    display: table;
    width: 100%;
}

.main-content th span{
    cursor: pointer;
    font-weight: normal;
}

.main-content th,
.main-content td {
    padding: 1.444em 0.444em;
    vertical-align: middle;
    max-width: 11em;
}

.main-content th:first-of-type,
.main-content td:first-of-type {
    font-weight: bold;
}

.main-content tbody tr:nth-of-type(even) {
    background: #0F1012;
}

.main-content tbody .separator:before,
.main-content thead .separator:before {
    content: "";
    display: inline-block;
    height: 2em;
    width: 2px;
}

.main-content tbody .separator:before {
    background: #FFFFFF;
}

.main-content thead .separator:before {
    background: #DC7316;
}

.main-content .add-new-project {
    min-width: 1.444em;
    height: 1.89em;
    background: #0A0B0D url(../img/add-project.svg) no-repeat 50% 50%;
    background-size: contain;
}

.main-content .delete-project {
    font-size: inherit;
    width: 1.444em;
    height: 1.89em;
    background: url(../img/remove-project.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: .15;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

/*--------------------------------------------- table cells width -------------------------------------------------*/

.main-content th:first-of-type,
.main-content td:first-of-type {
    width: 26.489%;
    min-width: 26.489%;
}

.main-content .separator {
    width: 1.724%;
    min-width: 1.724%;
}

.main-content th:nth-of-type(3),
.main-content td:nth-of-type(3) {
    width: 9.718%;
    min-width: 9.718%;
}

.main-content th:nth-of-type(4),
.main-content td:nth-of-type(4) {
    width: 9.718%;
    min-width: 9.718%;
}

.main-content th:nth-of-type(5),
.main-content td:nth-of-type(5) {
    width: 9.091%;
    min-width: 9.091%;
}

.main-content th:nth-of-type(6),
.main-content td:nth-of-type(6) {
    width: 10.345%;
    min-width: 10.345%;
}

.main-content th:nth-of-type(7),
.main-content td:nth-of-type(7) {
    width: 17.085%;
    min-width: 17.085%;
}

.main-content th:nth-of-type(8),
.main-content td:nth-of-type(8) {
    width: 11.442%;
    min-width: 11.442%;
}

.main-content th:last-of-type,
.main-content td:last-of-type {
    width: 4.389%;
    min-width: 4.389%;
}

/*--------------------------------------------------- menus -------------------------------------------------------*/

.menu {
    text-transform: uppercase;
    position: fixed;
    height: 100%;
    background: #000000;
    overflow-y: auto;
    z-index: 50;
}

.menu form {
    margin-bottom: 7em;
}

.left-menu {
    left: 0;
    top: 0;
    font-size: 1.125em;
    width: 20.444em;
    padding: 7em 2.556em 0;
    transition: left .35s linear;
    overflow-y: hidden;
}

.right-menu {
    right: 0;
    top: 0;
    width: 23em;
    padding: 7.875em 2.875em 0;
    transition: right .35s linear;
}

.filter-group {
    background: #0D0D0D;
    margin-bottom: 2.111em;
    padding: 1.444em 4%;
    border-bottom: 2px solid #E67817;
}

.filter-group .filter-row-group {
    margin-bottom: 2em;
}

.filter-group .filter-row-group:last-of-type {
    margin-bottom: 0;
}

.menu input,
.menu .dropdown-container {
    height: 3.875em;
    margin-bottom: 2.125em;
    padding: 0 2.5em 0 1em;
    width: 100%;
    background: #221203;
    color: inherit;
    border-bottom: 2px solid #E67817;
}

.menu .dropdown-container {
    height: auto;
    min-height: 3.875em;
    padding: 0;
    cursor: pointer;
}

.menu .dropdown-value {
    padding: 0 2.5em 0 1em;
    line-height: 3.875em;
}

.menu .dropdown-list {
    text-align: center;
}

.menu .dropdown-list li {
    padding: 1.25em 0;
    cursor: pointer;
}

.menu input[type="checkbox"] {
    display: none;
}

.menu input[type="checkbox"] + label {
    position: relative;
    float: left;
    width: 50%;
    cursor: pointer;
}

.menu input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 2.111em;
    height: 2.111em;
    background: #2D1E10;
    vertical-align: middle;
    margin-right: .8em;
}

.menu input[type="checkbox"] + label:after {
    position: absolute;
    left: .5em;
    top: -.6em;
    content: "";
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    width: 2.5em;
    height: 2.5em;
    display: block;
    background: url("../img/verification-mark.svg") 50% 50% no-repeat;
    background-size: 2.3em;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

.menu .search-field {
    background-image: url("../img/magnifying-glass-search.svg");
}

.menu input::-webkit-input-placeholder {
    font: 1em;
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-transition: all .3s linear;
    transition: all .3s linear; 
}

.menu input::-moz-placeholder {
    font: 1em;
    opacity: 1;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: all .3s linear;
}

.menu input:-ms-input-placeholder {
    font: 1em;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: all .3s linear;
}

.menu .date,
.menu .dropdown,
.menu .search-field,
.menu .dropdown-reverse {
    background-repeat: no-repeat;
    background-size: 1.444em;
    background-position: 97% 20%;
}

.menu .date {
    background-image: url("../img/calendar.svg");
}

.menu .dropdown {
    text-transform: uppercase;
    background-image: url("../img/sorting-arrow.svg");
    background-position: 97% 30%;
}

.menu .dropdown-reverse {
    background-image: url("../img/sorting-arrow-reverse.svg");
    background-position: 97% 30%;
}

.menu .create-project {
    color: inherit;
    width: 100%;
    height: 3.875em;
    border: none;
    background: #E67817;
    box-shadow: 0 .35em 0 0 #9C5110;
}

/*--------------------------------------------------- footer -------------------------------------------------------*/

.main-footer {
    position: fixed;
    font-size: 1.375em;
    height: 3em;
    line-height: 3em;
    width: 100%;
    bottom: 0;
    background: #E67817;
    text-align: center;
    z-index: 100;
}

/*------------------------------------------------ reset styles -----------------------------------------------------*/

button {
    font: inherit;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

label,
th span{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
    user-select: none;
}

input {
    font: inherit;
    display: block;
    border: none;
}

input::-ms-clear { 
    display: none;
}

input::-ms-reveal { 
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}

/*---------------------------------------------- elements states ---------------------------------------------------*/

.toggle-menu:hover {
    background-color: #4A4A4A;
}

.main-content .add-new-project:active,
.main-content .delete-project:active {
    width: 1em;
    height: 1.45em;
}

.left-menu input[type="checkbox"]:checked + label:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    text-indent: 30em;
    opacity: 0;
}

input:focus::-moz-placeholder {
    text-indent: 30em;
    opacity: 0;
}

input:focus::-ms-input-placeholder {
    text-indent: 30em;
    opacity: 0;
}

.right-menu .create-project:active {
    -webkit-transform: translateY(.35em);
    transform: translateY(.35em);
    box-shadow: none;
}

.main-content tbody tr:hover {
    background: #353E44;
}

.main-content tbody tr:hover .delete-project {
    opacity: .8;
}

/*-----------------------------------------------------toggles---------------------------------------------------------*/

.hidden {
    display: none;
}

.bordered-bottom {
    border-bottom: 2px solid #FFFFFF;
}

.menu .dropdown-list li:hover {
    background: #2C2A27;
}

.hide-left-menu {
    left: -20.444em;
    width: 0;
    transition: left .35s linear,
                width 0s linear .35s;
}

.hide-right-menu {
    right: -23em;
    width: 0;
    transition: right .35s linear,
                width 0s linear .35s;
}

.main-content-full-width {
    margin-left: 0;
    transition: margin .35s linear;
}

.main-content .thead-full-width {
    margin-left: 1.333em;
    left: 0;
    transition: all .35s linear;
}

/*------------------------------------------------- media queries -----------------------------------------------------*/

@media screen and ( max-width: 1920px ) {
    body {
        font-size: 1em;
    }
}

@media screen and ( max-width: 1600px ) {
    body {
        font-size: .9em;
    }
}

@media screen and ( max-width: 1440px ) {
    body {
        font-size: .8em;
    }
}

@media screen and ( max-width: 1366px ) {
    body {
        font-size: .7em;
    }
}

@media screen and ( max-width: 1024px ) {
    body {
        font-size: .6em;
    }
}

@media screen and ( max-width: 860px ) {
    body {
        font-size: .5em;
    }
    .main-content thead,
    .main-content table{
       min-width: 53em;
    }
}